<div class="playingCards faceImages">
  <span [ngClass]="getClassname()">
    <span class="rank">{{this.rank}}</span>
    <span class="suit">{{getSymbol()}}</span>
</span>

</div>

<button (click)="addCard()">Give another card</button>
<!--  <button (click)="">reset</button>-->

